<div style="text-align: right"> Diego Emiliano Rodea Ruano

# Data Quality Report

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/Emi/Downloads/denue_00_54_csv/conjunto_de_datos/denue_inegi_54_.csv')

In [3]:
columns = pd.DataFrame(list(data.columns.values))
columns

             0
0           id
1    nom_estab
2   raz_social
3   codigo_act
4   nombre_act
5      per_ocu
6    tipo_vial
7     nom_vial
8   tipo_v_e_1
9    nom_v_e_1
10  tipo_v_e_2
11   nom_v_e_2
12  tipo_v_e_3
13   nom_v_e_3
14  numero_ext
15   letra_ext
16    edificio
17  edificio_e
18  numero_int
19   letra_int
20  tipo_asent
21  nomb_asent
22  tipoCenCom
23  nom_CenCom
24   num_local
25  cod_postal
26     cve_ent
27     entidad
28     cve_mun
29   municipio
30     cve_loc
31   localidad
32        ageb
33     manzana
34    telefono
35  correoelec
36         www
37  tipoUniEco
38     latitud
39    longitud
40  fecha_alta

In [4]:
data_types = pd.DataFrame(data.dtypes,
                          columns=['Data Type'])
data_types

           Data Type
id             int64
nom_estab     object
raz_social    object
codigo_act     int64
nombre_act    object
per_ocu       object
tipo_vial     object
nom_vial      object
tipo_v_e_1    object
nom_v_e_1     object
tipo_v_e_2    object
nom_v_e_2     object
tipo_v_e_3    object
nom_v_e_3     object
numero_ext   float64
letra_ext     object
edificio      object
edificio_e    object
numero_int    object
letra_int     object
tipo_asent    object
nomb_asent    object
tipoCenCom    object
nom_CenCom    object
num_local     object
cod_postal   float64
cve_ent        int64
entidad       object
cve_mun        int64
municipio     object
cve_loc        int64
localidad     object
ageb          object
manzana        int64
telefono      object
correoelec    object
www           object
tipoUniEco    object
latitud      float64
longitud     float64
fecha_alta    object

In [99]:
missing_data_counts = pd.DataFrame(data.isnull().sum(),
                                   columns=['Missing Values'])
missing_data_counts

            Missing Values
id                       0
nom_estab                0
raz_social           72468
codigo_act               0
nombre_act               0
per_ocu                  0
tipo_vial              339
nom_vial                14
tipo_v_e_1            2850
nom_v_e_1              666
tipo_v_e_2            2813
nom_v_e_2              672
tipo_v_e_3            3425
nom_v_e_3              375
numero_ext           18780
letra_ext            70840
edificio             95849
edificio_e           92585
numero_int           81039
letra_int            94519
tipo_asent             829
nomb_asent              85
tipoCenCom           98163
nom_CenCom           96685
num_local            97409
cod_postal             772
cve_ent                  0
entidad                  0
cve_mun                  0
municipio                0
cve_loc                  0
localidad                0
ageb                     0
manzana                  0
telefono             31329
correoelec           74807
www                  94285
tipoUniEco               0
latitud                  0
longitud                 0
fecha_alta               0

In [100]:
present_data_counts = pd.DataFrame(data.count(),
                                   columns=['Present Values'])
present_data_counts

            Present Values
id                  103578
nom_estab           103578
raz_social           31110
codigo_act          103578
nombre_act          103578
per_ocu             103578
tipo_vial           103239
nom_vial            103564
tipo_v_e_1          100728
nom_v_e_1           102912
tipo_v_e_2          100765
nom_v_e_2           102906
tipo_v_e_3          100153
nom_v_e_3           103203
numero_ext           84798
letra_ext            32738
edificio              7729
edificio_e           10993
numero_int           22539
letra_int             9059
tipo_asent          102749
nomb_asent          103493
tipoCenCom            5415
nom_CenCom            6893
num_local             6169
cod_postal          102806
cve_ent             103578
entidad             103578
cve_mun             103578
municipio           103578
cve_loc             103578
localidad           103578
ageb                103578
manzana             103578
telefono             72249
correoelec           28771
www                   9293
tipoUniEco          103578
latitud             103578
longitud            103578
fecha_alta          103578

In [101]:
percentage_value = pd.DataFrame( columns=['Percentage of missing data'])
for v in list(data.columns.values):
    percentage_value.loc[v]=[data[v].isnull().sum()/len(data.index)]
percentage_value

            Percentage of missing data
id                            0.000000
nom_estab                     0.000000
raz_social                    0.699647
codigo_act                    0.000000
nombre_act                    0.000000
per_ocu                       0.000000
tipo_vial                     0.003273
nom_vial                      0.000135
tipo_v_e_1                    0.027515
nom_v_e_1                     0.006430
tipo_v_e_2                    0.027158
nom_v_e_2                     0.006488
tipo_v_e_3                    0.033067
nom_v_e_3                     0.003620
numero_ext                    0.181313
letra_ext                     0.683929
edificio                      0.925380
edificio_e                    0.893867
numero_int                    0.782396
letra_int                     0.912539
tipo_asent                    0.008004
nomb_asent                    0.000821
tipoCenCom                    0.947721
nom_CenCom                    0.933451
num_local                     0.940441
cod_postal                    0.007453
cve_ent                       0.000000
entidad                       0.000000
cve_mun                       0.000000
municipio                     0.000000
cve_loc                       0.000000
localidad                     0.000000
ageb                          0.000000
manzana                       0.000000
telefono                      0.302468
correoelec                    0.722229
www                           0.910280
tipoUniEco                    0.000000
latitud                       0.000000
longitud                      0.000000
fecha_alta                    0.000000

In [102]:
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(data.columns.values):
    unique_value_counts.loc[v] = [data[v].nunique()]
unique_value_counts

           Unique Values
id                103578
nom_estab          67024
raz_social         28644
codigo_act            41
nombre_act            41
per_ocu                7
tipo_vial             27
nom_vial           18919
tipo_v_e_1            29
nom_v_e_1          21589
tipo_v_e_2            29
nom_v_e_2          21982
tipo_v_e_3            32
nom_v_e_3          22794
numero_ext          5049
letra_ext           1250
edificio            2465
edificio_e           317
numero_int           612
letra_int           1147
tipo_asent            46
nomb_asent         12579
tipoCenCom            35
nom_CenCom          2944
num_local           1963
cod_postal          8751
cve_ent               32
entidad               32
cve_mun              303
municipio           1506
cve_loc              392
localidad           2726
ageb                4875
manzana              131
telefono           70243
correoelec         27866
www                 8485
tipoUniEco             2
latitud            90864
longitud           90855
fecha_alta            12

In [103]:
minimum_values = pd.DataFrame(columns=['Minimum Value'])
for v in list(data.columns.values):
    try:
        minimum_values.loc[v] = [data[v].min()]
    except:
        pass
minimum_values

                                                Minimum Value
id                                                        123
nom_estab   (DESPACHO CONTABLE) SERVICIOS INTEGRALES Y PRO...
codigo_act                                             541110
nombre_act                 Agencias de anuncios publicitarios
per_ocu                                        0 a 5 personas
numero_ext                                                  1
cod_postal                                                  0
cve_ent                                                     1
entidad                                        AGUASCALIENTES
cve_mun                                                     1
municipio                                             Abasolo
cve_loc                                                     1
localidad   20 de Noviembre                               ...
ageb                                                     0010
manzana                                                     1
tipoUniEco                                               Fijo
latitud                                                14.591
longitud                                              -117.12
fecha_alta                                            2010-07

In [104]:
maximum_values = pd.DataFrame(columns=['Maximum Value'])
for v in list(data.columns.values):
    try:
        maximum_values.loc[v] = [data[v].max()]
    except:
        pass
maximum_values

                                                Maximum Value
id                                                    6886912
nom_estab                                               ÚNICO
codigo_act                                             541990
nombre_act  Servicios veterinarios para mascotas prestados...
per_ocu                                       6 a 10 personas
numero_ext                                              47280
cod_postal                                              99999
cve_ent                                                    32
entidad                                             ZACATECAS
cve_mun                                                   570
municipio                                      Álvaro Obregón
cve_loc                                                  4731
localidad   Área 4 la Trinida [Ciudad Textil]             ...
ageb                                                     9960
manzana                                                   800
tipoUniEco                                           Semifijo
latitud                                                32.717
longitud                                             -86.7302
fecha_alta                                            2019-04

In [106]:
data_quality_report = data_types.join(present_data_counts).join(missing_data_counts).join(percentage_value).join(unique_value_counts).join(minimum_values).join(maximum_values)

In [108]:
print("\nData Quality Report")
print("Total records: {}".format(len(data.index)))
data_quality_report.style.format({
    'Percentage of missing data': '{:,.2%}'.format,
})

Data Quality Report
Total records: 103578

La confiabilidad del análisis de datos depende de la calidad de datos que se tengan. Por eso se crean los data quality report, con el objetivo de tener medidas objetivas en la calidad de los datos.